@use "~bootstrap/scss/bootstrap" as *;

body {
    background-color: #24283B;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

article {
    padding: 20px;;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
